numpy==1.24.4
pygsheets
pandas
flask
sqlalchemy
matplotlib
alembic
celery
dash
google-api-core
flask-talisman
flask-wtf
flask-admin
flask-migrate
flask-WTF
plotly
WTForms
sqlalchemy-utils
google-api-python-client
google-cloud-pubsub
google-cloud-storage
scipy
psycopg2-binary
gunicorn
redis