{% extends "layouts/base_site.html" %}

{% block content %}
<div class="right_col" role="main">
  This links to a bootcamp project I did in 2018. I conceived the use case, generated data, and trained a supervised model. More detail is given in the website. 
  <br>
  <br>
  <div class="row">
    <div class="col-xs-6">
  <table class="table">
    <tr>
      <td class="align-middle text-center">
<a href="http://www.gaitanalyzer.info" target="_blank" class="btn btn-info btn-block">Gait analysis classifier</a>	
      </td>
    </tr>
  </table>
    </div>
  </div>
  
</div>
{% endblock %}
