{% extends "layouts/base_site.html" %}

{% block content %}
<div class="right_col" role="main">
      Welcome! I am an experienced generalist programmer and engineer, who loves integrating across software/hardware
      levels, and from backend to frontend. I put together for this site for a collection of proof of concept/starter
      work as well as past contributions. See my LinkedIn page for a more extensive education and research history, including several years developing parallel simulation codes for scientific computing. 
      <br>
      <div class="row">
	<div class="col-xs-6">
	    <a href="{{ url_for('main_bp.mechanics') }}">
	      <img src="{{ url_for('static', filename='figures/plasticity.png') }}" style="max-width: 100%; height: auto;" alt="Simulations">
	      <button type="button" class="btn btn-primary btn-lg btn-block">Simulations</button>
	    </a>
	</div>
	<div class="col-xs-6">
	  <a href="{{ url_for('main_bp.webapps') }}" >
	    <img src="{{url_for('static', filename='figures/webapp.png')}}" style="max-width:100%; height: auto;" alt="Hardware configuration">
	    <button type="button" class="btn btn-primary btn-lg btn-block">Web app demos </button>	    
	  </a>
	</div>
      </div>
      <div class="row">
	<div class="col-xs-6">
	  <a href="{{url_for('main_bp.machine_learning') }}" >
	    <img src="{{url_for('static', filename='figures/physicaltherapy.png')}}" style="max-width: 100%; height: auto;" alt="Physical Therapy">
	    <button type="button" class="btn btn-primary btn-lg btn-block">Machine Learning</button>
	  </a> 
	</div>
	<div class="col-xs-6">
	  <a href="{{url_for('main_bp.data_engineering') }}">
	    <img src="{{url_for('static', filename='figures/pub_sub_arch.png')}}" style="max-width: 100%; height: auto;" alt="Hardware configuration">
	    <button type="button" class="btn btn-primary btn-lg btn-block">Data engineering</button>
	  </a>
	</div>
      </div>
  <div class="row">
<br>
    <div class="col-12">

    <h4> Other links </h4>
    <ul>
      <li>
      <a href="{{urls.main.github}}" target="_blank" >Github for this app</a>
      </li>
        <li>
          <a href="http://www.linkedin.com/in/jkedmiston" target="_blank">JE's LinkedIn page</a>
        </li>
        
</ul>      
<!--    <a href="{{url_for('main_bp.download_cv')}}" class="btn btn-info btn-block">Download resume</a> -->
    
  </div>

</div>
{% endblock %}
